furo==2023.5.20
pygments==2.15.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
Sphinx==7.0.1
sphinx-copybutton==0.5.2
sphinx-jsonschema==1.19.1
sphinxcontrib-httpdomain==1.8.1
sphinxext-opengraph==0.8.2
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
